//  <----HERO IMAGE---->

$heroImageMobile: url('../img/hero-img-mobile.jpg');
$heroImageDesktop: url('../img/hero-img-desktop.jpg');

// <----ABOUT US IMAGE---->

$aboutUsImageMobile: url('../img/about-us-small.jpg');
$aboutUsImageDesktop: url('../img/about-us-large.jpg');


// <----OFFERS PHOTOS---->

$firstOfferPhotoMobile: url('../img/offers/nigiriOffer-mobile.png');
$firstOfferPhotoDesktop: url('../img/offers/nigiriOffer-desktop.png');
$secondOfferPhotoMobile: url('../img/offers/makiOffer-mobile.png');
$secondOfferPhotoDesktop: url('../img/offers/makiOffer-desktop.png');
$thirdOfferPhotoMobile: url('../img/offers/setOffer-mobile.png');
$thirdOfferPhotoDesktop: url('../img/offers/setOffer-desktop.png');


// <----MENU BACKGROUND IMAGE---->

$menuBgMobile: url('../img/menu-img-mobile.jpg');
$menuBgDesktop: url('../img/menu-img-desktop.jpg');

// <----TEAM PHOTOS---->

$ceoMobile: url('../img/team/takumi-small.png');
$ceoDesktop: url('../img/team/takumi-large.png');
$sushiMasterMobile: url('../img/team/yuto-small.png');
$sushiMasterDesktop: url('../img/team/yuto-large.png');
$jrSushiMasterMobile: url('../img/team/hiro-small.png');
$jrSushiMasterDesktop: url('../img/team/hiro-large.png');
$chefMobile: url('../img/team/jiro-small.png');
$chefDesktop: url('../img/team/jiro-large.png');
$sweetsMasterMobile: url('../img/team/yoko-small.png');
$sweetsMasterDesktop: url('../img/team/yoko-large.png');
$bartenderMobile: url('../img/team/miles-small.png');
$bartenderDesktop: url('../img/team/miles-large.png');
$waiterMobile: url('../img/team/lena-small.png');
$waiterDesktop: url('../img/team/lena-large.png');

